<html>
    <head>
        <script>
            function sendToCookies(){
                
            }
        </script>
    </head>
    <body>
        <!-- <p>Please input your email and password below (case-sensitive): </p> -->
        
        <form method="POST" onload="submit()">
            <input id="email" name="email" type="text" placeholder="Email" value=""/>
            <input id="password" name="password" type="text" placeholder="Password" value=""/>
            <input type="submit" value="Submit"/>
        </form>
        
        <p>{{ fndMessage }}</p>
    </body>
</html>